[submodule "husky-tool-kit"]
	path = husky-tool-kit
	url = git@github.com:dualboot-partners/-husky-tool-kit.git
[submodule "husky-toolkit"]
	path = husky-toolkit
	url = git@github.com:dualboot-partners/-husky-tool-kit.git
[submodule "dev-containers-toolkit"]
	path = dev-containers-toolkit
	url = git@github.com:dualboot-partners/dev-containers-demo.git
